.main-header {
    font-size: 12rem;
    font-family: 'Squada One', Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(40, 41, 43);
}

.info {
    color: rgba(255, 255, 255, 0.9);
}

.map {
    width: 100%;
    border-radius: 3px;
    text-align: center;
}
.map:hover {
    cursor: pointer;
}

.overlay {
    position: absolute;
    padding: 15px;
    top: 100px;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 50%;
    width: 50%;
    opacity: 0;
    transition: .25s ease;
    background-color: rgba(255, 30, 30, 0.85);
    color: white;
    border-radius: 3px;
}
.orange {
    background-color: rgba(255, 157, 0, 0.9);
}

.right-map {
    left: 500px;
}
.center-map {
    left: 250px;
}



.close-overlay {
    color: rgba(255, 255, 255, 0.8);
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
}

.close-overlay:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
}
.show {
    opacity: 1;
}
.date {
    font-weight: lighter;
    font-size: 1.5rem;
}

